.beauty{
    background-color:lavenderblush;
    padding: 20px;
}
.beauty h2{
    align-items: center;
    font-size: 4opx;
    color: brown;
}
.selfcare h3{
    margin-top: 30px;
    text-align: left;
    font-size: 4opx;
    color: brown;
 
}