*{
    margin: 0;
    padding: 0;
    box-shadow: border box;
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color: lavenderblush;
color: black;
}
h1{
 font-size: 45px;
 margin-bottom: 20px;
}
h2{
    font-size: 32px;
    margin-bottom: 15px;
}
p{
    font-size: 17px;
    line-height:1.6;
}
.home{
   min-height: 80vh;
   padding: 80px 8%;
   display: flex;
   align-items: center;
   justify-content: center;    
   text-align: center;
   background-color: rgb(218, 38, 18);
   margin-top: 15vh;
}
.home h1{
    color: purple;
}
home p{
    max-width: 650 px;
    margin: 0 auto 25px;
}
